﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1190px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:12px;
  top:16px;
  width:85px;
  height:19px;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:113px;
  top:16px;
  width:69px;
  height:19px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1100px;
  top:16px;
  width:83px;
  height:19px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:900px;
  top:70px;
  width:200px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:1100px;
  top:70px;
  width:100px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:0px;
  top:120px;
  width:1200px;
  height:50px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:12px;
  top:124px;
  width:731px;
  height:42px;
}
#u13_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:737px;
  height:48px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:47px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u16 {
  position:absolute;
  left:2px;
  top:13px;
  width:235px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:239px;
  top:0px;
  width:239px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u18 {
  position:absolute;
  left:2px;
  top:13px;
  width:235px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:478px;
  top:0px;
  width:253px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:42px;
}
#u20 {
  position:absolute;
  left:2px;
  top:13px;
  width:249px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:42px;
  width:239px;
  height:216px;
  visibility:hidden;
}
#u21_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:245px;
  height:222px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:221px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:36px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:72px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:108px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:144px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:180px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:239px;
  top:42px;
  width:239px;
  height:126px;
  visibility:hidden;
}
#u35_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:245px;
  height:132px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:131px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u38 {
  position:absolute;
  left:2px;
  top:5px;
  width:235px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:42px;
  width:239px;
  height:42px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u40 {
  position:absolute;
  left:2px;
  top:13px;
  width:235px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:84px;
  width:239px;
  height:42px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u42 {
  position:absolute;
  left:2px;
  top:5px;
  width:235px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:10px;
  top:56px;
  width:190px;
  height:56px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:56px;
}
#u44 {
  position:absolute;
  left:2px;
  top:20px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:310px;
  top:200px;
  width:890px;
  height:50px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:50px;
}
#u46 {
  position:absolute;
  left:2px;
  top:17px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:328px;
  top:214px;
  width:76px;
  height:24px;
  font-size:20px;
  color:#0066FF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:414px;
  top:213px;
  width:201px;
  height:24px;
  font-size:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:310px;
  top:260px;
  width:890px;
  height:50px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:50px;
}
#u52 {
  position:absolute;
  left:2px;
  top:17px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:310px;
  top:310px;
  width:890px;
  height:543px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:543px;
}
#u54 {
  position:absolute;
  left:2px;
  top:264px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:328px;
  top:276px;
  width:166px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:328px;
  top:323px;
  width:191px;
  height:208px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:208px;
}
#u58 {
  position:absolute;
  left:2px;
  top:96px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:354px;
  top:346px;
  width:138px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:551px;
  top:323px;
  width:197px;
  height:208px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:208px;
}
#u62 {
  position:absolute;
  left:2px;
  top:96px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:566px;
  top:347px;
  width:168px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:768px;
  top:323px;
  width:197px;
  height:208px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:208px;
}
#u66 {
  position:absolute;
  left:2px;
  top:96px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:795px;
  top:335px;
  width:143px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:989px;
  top:323px;
  width:197px;
  height:208px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:208px;
}
#u70 {
  position:absolute;
  left:2px;
  top:96px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1016px;
  top:335px;
  width:144px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:328px;
  top:584px;
  width:191px;
  height:208px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:208px;
}
#u74 {
  position:absolute;
  left:2px;
  top:96px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:360px;
  top:608px;
  width:125px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:551px;
  top:584px;
  width:197px;
  height:208px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:208px;
}
#u78 {
  position:absolute;
  left:2px;
  top:96px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:587px;
  top:590px;
  width:115px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:-10px;
  top:1149px;
  width:1210px;
  height:140px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:140px;
}
#u83 {
  position:absolute;
  left:2px;
  top:62px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:143px;
  top:1171px;
  width:105px;
  height:82px;
  color:#FFFFFF;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:82px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:26px;
  top:1169px;
  width:92px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:309px;
  top:1169px;
  width:56px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:355px;
  top:1171px;
  width:244px;
  height:19px;
  color:#FFFFFF;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:19px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:647px;
  top:1169px;
  width:47px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:715px;
  top:1172px;
  width:127px;
  height:37px;
  color:#FFFFFF;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:37px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:290px;
  top:1159px;
  width:10px;
  height:120px;
}
#u96_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u96_end {
  position:absolute;
  left:-5px;
  top:103px;
  width:20px;
  height:18px;
}
#u96_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:120px;
}
#u97 {
  position:absolute;
  left:590px;
  top:1159px;
  width:10px;
  height:120px;
}
#u97_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u97_end {
  position:absolute;
  left:-5px;
  top:103px;
  width:20px;
  height:18px;
}
#u97_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:120px;
}
#u98 {
  position:absolute;
  left:890px;
  top:1159px;
  width:10px;
  height:120px;
}
#u98_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u98_end {
  position:absolute;
  left:-5px;
  top:103px;
  width:20px;
  height:18px;
}
#u98_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:120px;
}
#u99 {
  position:absolute;
  left:940px;
  top:1172px;
  width:200px;
  height:38px;
  color:#FFFFFF;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:38px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:310px;
  top:863px;
  width:890px;
  height:268px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:268px;
}
#u102 {
  position:absolute;
  left:2px;
  top:126px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:328px;
  top:923px;
  width:852px;
  height:180px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:180px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:310px;
  top:863px;
  width:890px;
  height:50px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:50px;
}
#u106 {
  position:absolute;
  left:2px;
  top:17px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:328px;
  top:879px;
  width:852px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:1px;
  top:200px;
  width:288px;
  height:280px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:280px;
}
#u111 {
  position:absolute;
  left:2px;
  top:132px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:1px;
  top:200px;
  width:288px;
  height:40px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:40px;
}
#u113 {
  position:absolute;
  left:2px;
  top:12px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:15px;
  top:211px;
  width:123px;
  height:17px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:17px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:17px;
  top:252px;
  width:64px;
  height:17px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:17px;
  top:275px;
  width:256px;
  height:16px;
}
#u119 {
  position:absolute;
  left:16px;
  top:0px;
  width:238px;
  word-wrap:break-word;
}
#u118_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u120 {
  position:absolute;
  left:17px;
  top:294px;
  width:256px;
  height:16px;
}
#u121 {
  position:absolute;
  left:16px;
  top:0px;
  width:238px;
  word-wrap:break-word;
}
#u120_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u122 {
  position:absolute;
  left:17px;
  top:311px;
  width:256px;
  height:16px;
}
#u123 {
  position:absolute;
  left:16px;
  top:0px;
  width:238px;
  word-wrap:break-word;
}
#u122_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u124 {
  position:absolute;
  left:17px;
  top:355px;
  width:134px;
  height:17px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:17px;
  top:379px;
  width:256px;
  height:16px;
}
#u127 {
  position:absolute;
  left:16px;
  top:0px;
  width:238px;
  word-wrap:break-word;
}
#u126_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u128 {
  position:absolute;
  left:17px;
  top:398px;
  width:256px;
  height:16px;
}
#u129 {
  position:absolute;
  left:16px;
  top:0px;
  width:238px;
  word-wrap:break-word;
}
#u128_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u130 {
  position:absolute;
  left:0px;
  top:336px;
  width:289px;
  height:10px;
}
#u130_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_end {
  position:absolute;
  left:272px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_line {
  position:absolute;
  left:0px;
  top:5px;
  width:289px;
  height:1px;
}
#u131 {
  position:absolute;
  left:93px;
  top:446px;
  width:100px;
  height:25px;
}
#u131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u132 {
  position:absolute;
  left:0px;
  top:428px;
  width:289px;
  height:10px;
}
#u132_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u132_end {
  position:absolute;
  left:272px;
  top:-5px;
  width:18px;
  height:20px;
}
#u132_line {
  position:absolute;
  left:0px;
  top:5px;
  width:289px;
  height:1px;
}
#u133 {
  position:absolute;
  left:250px;
  top:200px;
  width:39px;
  height:40px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u134 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:0px;
  top:200px;
  width:39px;
  height:40px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u136 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:328px;
  top:392px;
  width:191px;
  height:139px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:139px;
}
#u138 {
  position:absolute;
  left:2px;
  top:62px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:551px;
  top:392px;
  width:197px;
  height:139px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:139px;
}
#u140 {
  position:absolute;
  left:2px;
  top:62px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:768px;
  top:392px;
  width:197px;
  height:139px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:139px;
}
#u142 {
  position:absolute;
  left:2px;
  top:62px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:989px;
  top:392px;
  width:197px;
  height:139px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:139px;
}
#u144 {
  position:absolute;
  left:2px;
  top:62px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:328px;
  top:653px;
  width:191px;
  height:139px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:139px;
}
#u146 {
  position:absolute;
  left:2px;
  top:62px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:551px;
  top:653px;
  width:197px;
  height:139px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:139px;
}
#u148 {
  position:absolute;
  left:2px;
  top:62px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:328px;
  top:323px;
  width:191px;
  height:208px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u150 {
  position:absolute;
  left:551px;
  top:323px;
  width:197px;
  height:208px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u151 {
  position:absolute;
  left:768px;
  top:323px;
  width:197px;
  height:208px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u152 {
  position:absolute;
  left:989px;
  top:323px;
  width:197px;
  height:208px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u153 {
  position:absolute;
  left:551px;
  top:584px;
  width:197px;
  height:208px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u154 {
  position:absolute;
  left:322px;
  top:584px;
  width:197px;
  height:208px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
