﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1186px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:237px;
  width:1198px;
  height:463px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:463px;
}
#u1 {
  position:absolute;
  left:2px;
  top:224px;
  width:1194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:-2px;
  top:0px;
  width:1200px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:16px;
  width:85px;
  height:19px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:111px;
  top:16px;
  width:69px;
  height:19px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:1098px;
  top:16px;
  width:83px;
  height:19px;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:898px;
  top:70px;
  width:200px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:1098px;
  top:70px;
  width:100px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:-2px;
  top:120px;
  width:1200px;
  height:50px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:10px;
  top:124px;
  width:731px;
  height:42px;
}
#u15_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:737px;
  height:48px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:47px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u18 {
  position:absolute;
  left:2px;
  top:13px;
  width:235px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:239px;
  top:0px;
  width:239px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u20 {
  position:absolute;
  left:2px;
  top:13px;
  width:235px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:478px;
  top:0px;
  width:253px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:42px;
}
#u22 {
  position:absolute;
  left:2px;
  top:13px;
  width:249px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:42px;
  width:239px;
  height:216px;
  visibility:hidden;
}
#u23_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:245px;
  height:222px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:221px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:36px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:72px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:108px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:144px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:180px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:239px;
  top:42px;
  width:239px;
  height:126px;
  visibility:hidden;
}
#u37_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:245px;
  height:132px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:131px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u40 {
  position:absolute;
  left:2px;
  top:5px;
  width:235px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:42px;
  width:239px;
  height:42px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u42 {
  position:absolute;
  left:2px;
  top:13px;
  width:235px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:84px;
  width:239px;
  height:42px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u44 {
  position:absolute;
  left:2px;
  top:5px;
  width:235px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:8px;
  top:56px;
  width:190px;
  height:56px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:56px;
}
#u46 {
  position:absolute;
  left:2px;
  top:20px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:-12px;
  top:700px;
  width:1210px;
  height:140px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:140px;
}
#u49 {
  position:absolute;
  left:2px;
  top:62px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:141px;
  top:722px;
  width:105px;
  height:82px;
  color:#FFFFFF;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:82px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:24px;
  top:720px;
  width:92px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:307px;
  top:720px;
  width:56px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:353px;
  top:722px;
  width:244px;
  height:19px;
  color:#FFFFFF;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:645px;
  top:720px;
  width:47px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:713px;
  top:723px;
  width:127px;
  height:37px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:37px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:288px;
  top:710px;
  width:10px;
  height:120px;
}
#u62_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u62_end {
  position:absolute;
  left:-5px;
  top:103px;
  width:20px;
  height:18px;
}
#u62_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:120px;
}
#u63 {
  position:absolute;
  left:588px;
  top:710px;
  width:10px;
  height:120px;
}
#u63_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u63_end {
  position:absolute;
  left:-5px;
  top:103px;
  width:20px;
  height:18px;
}
#u63_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:120px;
}
#u64 {
  position:absolute;
  left:888px;
  top:710px;
  width:10px;
  height:120px;
}
#u64_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u64_end {
  position:absolute;
  left:-5px;
  top:103px;
  width:20px;
  height:18px;
}
#u64_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:120px;
}
#u65 {
  position:absolute;
  left:938px;
  top:723px;
  width:200px;
  height:38px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:38px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:10px;
  top:247px;
  width:350px;
  height:303px;
  text-align:left;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:303px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:346px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:401px;
  top:254px;
  width:350px;
  height:179px;
  text-align:left;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:179px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:786px;
  top:254px;
  width:350px;
  height:374px;
  text-align:left;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:374px;
}
#u72 {
  position:absolute;
  left:2px;
  top:3px;
  width:346px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:191px;
  width:1198px;
  height:47px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:47px;
}
#u74 {
  position:absolute;
  left:2px;
  top:16px;
  width:1194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:10px;
  top:202px;
  width:114px;
  height:22px;
  font-size:18px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
