﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1186px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:-2px;
  top:0px;
  width:1200px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:16px;
  width:85px;
  height:19px;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:111px;
  top:16px;
  width:69px;
  height:19px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1098px;
  top:16px;
  width:83px;
  height:19px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:898px;
  top:70px;
  width:200px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:1098px;
  top:70px;
  width:100px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:-2px;
  top:120px;
  width:1200px;
  height:50px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:10px;
  top:124px;
  width:731px;
  height:42px;
}
#u13_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:737px;
  height:48px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:47px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u16 {
  position:absolute;
  left:2px;
  top:13px;
  width:235px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:239px;
  top:0px;
  width:239px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u18 {
  position:absolute;
  left:2px;
  top:13px;
  width:235px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:478px;
  top:0px;
  width:253px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:42px;
}
#u20 {
  position:absolute;
  left:2px;
  top:13px;
  width:249px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:42px;
  width:239px;
  height:216px;
  visibility:hidden;
}
#u21_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:245px;
  height:222px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:221px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:36px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:72px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:108px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:144px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:180px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:239px;
  top:42px;
  width:239px;
  height:126px;
  visibility:hidden;
}
#u35_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:245px;
  height:132px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:131px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u38 {
  position:absolute;
  left:2px;
  top:5px;
  width:235px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:42px;
  width:239px;
  height:42px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u40 {
  position:absolute;
  left:2px;
  top:13px;
  width:235px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:84px;
  width:239px;
  height:42px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u42 {
  position:absolute;
  left:2px;
  top:5px;
  width:235px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:8px;
  top:56px;
  width:190px;
  height:56px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:56px;
}
#u44 {
  position:absolute;
  left:2px;
  top:20px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:-12px;
  top:780px;
  width:1210px;
  height:140px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:140px;
}
#u47 {
  position:absolute;
  left:2px;
  top:62px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:141px;
  top:802px;
  width:105px;
  height:82px;
  color:#FFFFFF;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:82px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:24px;
  top:800px;
  width:92px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:307px;
  top:800px;
  width:56px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:353px;
  top:802px;
  width:244px;
  height:19px;
  color:#FFFFFF;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:645px;
  top:800px;
  width:47px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:713px;
  top:803px;
  width:127px;
  height:37px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:37px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:288px;
  top:790px;
  width:10px;
  height:120px;
}
#u60_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u60_end {
  position:absolute;
  left:-5px;
  top:103px;
  width:20px;
  height:18px;
}
#u60_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:120px;
}
#u61 {
  position:absolute;
  left:588px;
  top:790px;
  width:10px;
  height:120px;
}
#u61_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u61_end {
  position:absolute;
  left:-5px;
  top:103px;
  width:20px;
  height:18px;
}
#u61_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:120px;
}
#u62 {
  position:absolute;
  left:888px;
  top:790px;
  width:10px;
  height:120px;
}
#u62_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u62_end {
  position:absolute;
  left:-5px;
  top:103px;
  width:20px;
  height:18px;
}
#u62_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:120px;
}
#u63 {
  position:absolute;
  left:938px;
  top:803px;
  width:200px;
  height:38px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:38px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:11px;
  top:190px;
  width:399px;
  height:160px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:160px;
}
#u66 {
  position:absolute;
  left:2px;
  top:72px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:11px;
  top:240px;
  width:399px;
  height:110px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:110px;
}
#u68 {
  position:absolute;
  left:2px;
  top:47px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:118px;
  top:202px;
  width:205px;
  height:24px;
  font-size:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:24px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:11px;
  top:365px;
  width:399px;
  height:160px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:160px;
}
#u72 {
  position:absolute;
  left:2px;
  top:72px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:11px;
  top:415px;
  width:399px;
  height:110px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:110px;
}
#u74 {
  position:absolute;
  left:2px;
  top:47px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:90px;
  top:381px;
  width:263px;
  height:24px;
  font-size:20px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:24px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:11px;
  top:541px;
  width:399px;
  height:160px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:160px;
}
#u78 {
  position:absolute;
  left:2px;
  top:72px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:11px;
  top:591px;
  width:399px;
  height:110px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:110px;
}
#u80 {
  position:absolute;
  left:2px;
  top:47px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:42px;
  top:557px;
  width:353px;
  height:24px;
  font-size:20px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:24px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:430px;
  top:239px;
  width:768px;
  height:262px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:262px;
}
#u84 {
  position:absolute;
  left:2px;
  top:123px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:430px;
  top:190px;
  width:768px;
  height:49px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:49px;
}
#u86 {
  position:absolute;
  left:2px;
  top:16px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:441px;
  top:203px;
  width:429px;
  height:23px;
  font-family:'Times New Roman Полужирный', 'Times New Roman';
  font-size:20px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:23px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:430px;
  top:239px;
  width:768px;
  height:231px;
  overflow:hidden;
}
#u89_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:231px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u89_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u90 {
  position:absolute;
  left:20px;
  top:0px;
  width:723px;
  height:180px;
  text-align:left;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:180px;
}
#u91 {
  position:absolute;
  left:2px;
  top:10px;
  width:719px;
  word-wrap:break-word;
}
#u89_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:231px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u89_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u92 {
  position:absolute;
  left:20px;
  top:0px;
  width:723px;
  height:170px;
  text-align:left;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:170px;
}
#u93 {
  position:absolute;
  left:2px;
  top:13px;
  width:719px;
  word-wrap:break-word;
}
#u89_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:231px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u89_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u94 {
  position:absolute;
  left:20px;
  top:0px;
  width:730px;
  height:230px;
  text-align:left;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:230px;
}
#u95 {
  position:absolute;
  left:2px;
  top:11px;
  width:726px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:430px;
  top:537px;
  width:768px;
  height:233px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:233px;
}
#u97 {
  position:absolute;
  left:2px;
  top:108px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:430px;
  top:515px;
  width:768px;
  height:21px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  text-align:left;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:21px;
}
#u99 {
  position:absolute;
  left:2px;
  top:2px;
  width:764px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:447px;
  top:546px;
  width:221px;
  height:218px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:218px;
}
#u101 {
  position:absolute;
  left:2px;
  top:101px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:467px;
  top:552px;
  width:182px;
  height:110px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:110px;
}
#u103 {
  position:absolute;
  left:2px;
  top:47px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:467px;
  top:671px;
  width:182px;
  height:27px;
  font-size:18px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:27px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:527px;
  top:704px;
  width:74px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:458px;
  top:726px;
  width:201px;
  height:22px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u109 {
  position:absolute;
  left:702px;
  top:546px;
  width:221px;
  height:218px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:218px;
}
#u110 {
  position:absolute;
  left:2px;
  top:101px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:723px;
  top:552px;
  width:182px;
  height:110px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:110px;
}
#u112 {
  position:absolute;
  left:2px;
  top:47px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:723px;
  top:671px;
  width:182px;
  height:27px;
  font-size:18px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:27px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:782px;
  top:704px;
  width:74px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:714px;
  top:726px;
  width:201px;
  height:22px;
}
#u117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u118 {
  position:absolute;
  left:960px;
  top:546px;
  width:221px;
  height:218px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:218px;
}
#u119 {
  position:absolute;
  left:2px;
  top:101px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:980px;
  top:552px;
  width:182px;
  height:110px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:110px;
}
#u121 {
  position:absolute;
  left:2px;
  top:47px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:980px;
  top:671px;
  width:182px;
  height:27px;
  font-size:18px;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:27px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:1039px;
  top:704px;
  width:74px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:969px;
  top:726px;
  width:201px;
  height:22px;
}
#u126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u127 {
  position:absolute;
  left:467px;
  top:552px;
  width:182px;
  height:110px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:110px;
}
#u128 {
  position:absolute;
  left:2px;
  top:47px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:723px;
  top:552px;
  width:182px;
  height:110px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:110px;
}
#u130 {
  position:absolute;
  left:2px;
  top:47px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:980px;
  top:552px;
  width:182px;
  height:110px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:110px;
}
#u132 {
  position:absolute;
  left:2px;
  top:47px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:1147px;
  top:470px;
  width:51px;
  height:31px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u134 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:430px;
  top:470px;
  width:51px;
  height:31px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u136 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:11px;
  top:240px;
  width:399px;
  height:110px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:110px;
}
#u138 {
  position:absolute;
  left:2px;
  top:47px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:11px;
  top:415px;
  width:399px;
  height:110px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:110px;
}
#u140 {
  position:absolute;
  left:2px;
  top:47px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:11px;
  top:591px;
  width:399px;
  height:110px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:110px;
}
#u142 {
  position:absolute;
  left:2px;
  top:47px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:11px;
  top:190px;
  width:399px;
  height:160px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u144 {
  position:absolute;
  left:11px;
  top:365px;
  width:399px;
  height:160px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u145 {
  position:absolute;
  left:11px;
  top:541px;
  width:399px;
  height:160px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u146 {
  position:absolute;
  left:447px;
  top:546px;
  width:221px;
  height:218px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u147 {
  position:absolute;
  left:704px;
  top:546px;
  width:221px;
  height:218px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u148 {
  position:absolute;
  left:960px;
  top:546px;
  width:221px;
  height:218px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
