﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:710px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:500px;
}
#u0_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:720px;
  height:510px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:107px;
  width:690px;
  height:383px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:383px;
}
#u3 {
  position:absolute;
  left:2px;
  top:184px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:70px;
  top:17px;
  width:107px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:70px;
  top:39px;
  width:64px;
  height:16px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:231px;
  top:377px;
  width:135px;
  height:16px;
  color:#AEAEAE;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:11px;
  top:75px;
  width:169px;
  height:33px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:165px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:180px;
  top:75px;
  width:102px;
  height:33px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:283px;
  top:75px;
  width:108px;
  height:33px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:440px;
  top:120px;
  width:250px;
  height:67px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:67px;
}
#u17 {
  position:absolute;
  left:2px;
  top:26px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:448px;
  top:126px;
  width:242px;
  height:58px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:58px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:20px;
  top:119px;
  width:410px;
  height:361px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:361px;
}
#u21 {
  position:absolute;
  left:2px;
  top:172px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:440px;
  top:198px;
  width:250px;
  height:227px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:227px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:29px;
  top:170px;
  width:250px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:440px;
  top:435px;
  width:250px;
  height:45px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26 {
  position:absolute;
  left:57px;
  top:159px;
  width:33px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  visibility:hidden;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:28px;
  top:142px;
  width:111px;
  height:17px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:17px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:129px;
  top:142px;
  width:101px;
  height:17px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:356px;
  top:70px;
  width:38px;
  height:43px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:43px;
}
#u33 {
  position:absolute;
  left:2px;
  top:14px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:144px;
  top:70px;
  width:38px;
  height:43px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:43px;
}
#u35 {
  position:absolute;
  left:2px;
  top:14px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:248px;
  top:70px;
  width:38px;
  height:43px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:43px;
}
#u37 {
  position:absolute;
  left:2px;
  top:14px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:10px;
  top:17px;
  width:50px;
  height:50px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:560px;
  top:17px;
  width:140px;
  height:33px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:33px;
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:500px;
  top:0px;
  width:200px;
  height:500px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:500px;
}
#u44 {
  position:absolute;
  left:2px;
  top:242px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:500px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:662px;
  top:0px;
  width:38px;
  height:39px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:39px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:10px;
  top:0px;
  width:491px;
  height:40px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:40px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:487px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:511px;
  top:196px;
  width:80px;
  height:30px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u52 {
  position:absolute;
  left:610px;
  top:196px;
  width:80px;
  height:30px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u53 {
  position:absolute;
  left:596px;
  top:196px;
  width:11px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:10px;
  top:39px;
  width:486px;
  height:456px;
}
#u56 {
  position:absolute;
  left:511px;
  top:171px;
  width:148px;
  height:19px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:510px;
  top:247px;
  width:179px;
  height:30px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u59 {
  position:absolute;
  left:10px;
  top:39px;
  width:479px;
  height:115px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u61 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:138px;
  top:0px;
  width:74px;
  height:36px;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u63 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:212px;
  top:0px;
  width:124px;
  height:36px;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u65 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:336px;
  top:0px;
  width:138px;
  height:36px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u67 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:36px;
  width:138px;
  height:36px;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u69 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:138px;
  top:36px;
  width:74px;
  height:36px;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u71 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:212px;
  top:36px;
  width:124px;
  height:36px;
  text-align:center;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u73 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:336px;
  top:36px;
  width:138px;
  height:36px;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u75 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:0px;
  top:72px;
  width:138px;
  height:38px;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
}
#u77 {
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:138px;
  top:72px;
  width:74px;
  height:38px;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:38px;
}
#u79 {
  position:absolute;
  left:2px;
  top:11px;
  width:70px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:212px;
  top:72px;
  width:124px;
  height:38px;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:38px;
}
#u81 {
  position:absolute;
  left:2px;
  top:11px;
  width:120px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:336px;
  top:72px;
  width:138px;
  height:38px;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
}
#u83 {
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:354px;
  top:43px;
  width:115px;
  height:30px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u85 {
  position:absolute;
  left:354px;
  top:79px;
  width:115px;
  height:30px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u86 {
  position:absolute;
  left:507px;
  top:60px;
  width:100px;
  height:16px;
}
#u87 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u86_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u88 {
  position:absolute;
  left:507px;
  top:92px;
  width:132px;
  height:16px;
}
#u89 {
  position:absolute;
  left:16px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u88_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u90 {
  position:absolute;
  left:507px;
  top:123px;
  width:132px;
  height:16px;
}
#u91 {
  position:absolute;
  left:16px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u90_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u92 {
  position:absolute;
  left:500px;
  top:152px;
  width:200px;
  height:10px;
}
#u92_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u93 {
  position:absolute;
  left:354px;
  top:117px;
  width:115px;
  height:30px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u94 {
  position:absolute;
  left:267px;
  top:252px;
  width:33px;
  height:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  visibility:hidden;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:10px;
  top:44px;
  width:690px;
  height:454px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:454px;
}
#u98 {
  position:absolute;
  left:2px;
  top:219px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:11px;
  top:3px;
  width:689px;
  height:42px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  text-align:left;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:42px;
}
#u100 {
  position:absolute;
  left:2px;
  top:13px;
  width:685px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:20px;
  top:394px;
  width:246px;
  height:87px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:87px;
}
#u102 {
  position:absolute;
  left:2px;
  top:36px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:24px;
  top:397px;
  width:242px;
  height:90px;
  line-height:20px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:90px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:20px;
  top:57px;
  width:666px;
  height:323px;
}
#u106 {
  position:absolute;
  left:29px;
  top:103px;
  width:250px;
  height:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:28px;
  top:73px;
  width:111px;
  height:18px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:18px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:129px;
  top:73px;
  width:101px;
  height:18px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:658px;
  top:0px;
  width:38px;
  height:36px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
}
#u113 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:29px;
  top:163px;
  width:250px;
  height:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:29px;
  top:134px;
  width:151px;
  height:18px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  color:#0066FF;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:165px;
  top:134px;
  width:101px;
  height:18px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
