﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1190px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:-2px;
  top:0px;
  width:1200px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:16px;
  width:85px;
  height:19px;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:111px;
  top:16px;
  width:69px;
  height:19px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1098px;
  top:16px;
  width:83px;
  height:19px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:898px;
  top:70px;
  width:200px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:1098px;
  top:70px;
  width:100px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:-2px;
  top:120px;
  width:1200px;
  height:50px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:10px;
  top:124px;
  width:731px;
  height:42px;
}
#u13_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:737px;
  height:48px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:47px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u16 {
  position:absolute;
  left:2px;
  top:13px;
  width:235px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:239px;
  top:0px;
  width:239px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u18 {
  position:absolute;
  left:2px;
  top:13px;
  width:235px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:478px;
  top:0px;
  width:253px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:42px;
}
#u20 {
  position:absolute;
  left:2px;
  top:13px;
  width:249px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:42px;
  width:239px;
  height:216px;
  visibility:hidden;
}
#u21_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:245px;
  height:222px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:221px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:36px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:72px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:108px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:144px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:180px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:239px;
  top:42px;
  width:239px;
  height:126px;
  visibility:hidden;
}
#u35_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:245px;
  height:132px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:131px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u38 {
  position:absolute;
  left:2px;
  top:5px;
  width:235px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:42px;
  width:239px;
  height:42px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u40 {
  position:absolute;
  left:2px;
  top:13px;
  width:235px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:84px;
  width:239px;
  height:42px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u42 {
  position:absolute;
  left:2px;
  top:5px;
  width:235px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:8px;
  top:56px;
  width:190px;
  height:56px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:56px;
}
#u44 {
  position:absolute;
  left:2px;
  top:20px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:760px;
  top:201px;
  width:440px;
  height:160px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:160px;
}
#u46 {
  position:absolute;
  left:2px;
  top:72px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:760px;
  top:251px;
  width:440px;
  height:110px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:110px;
}
#u48 {
  position:absolute;
  left:2px;
  top:47px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:849px;
  top:213px;
  width:263px;
  height:24px;
  font-size:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:24px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:300px;
  top:201px;
  width:440px;
  height:160px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:160px;
}
#u52 {
  position:absolute;
  left:2px;
  top:72px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:300px;
  top:251px;
  width:440px;
  height:110px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:110px;
}
#u54 {
  position:absolute;
  left:2px;
  top:47px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:418px;
  top:213px;
  width:205px;
  height:24px;
  font-size:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:24px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:300px;
  top:381px;
  width:440px;
  height:160px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:160px;
}
#u58 {
  position:absolute;
  left:2px;
  top:72px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:300px;
  top:431px;
  width:440px;
  height:110px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:110px;
}
#u60 {
  position:absolute;
  left:2px;
  top:47px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:348px;
  top:391px;
  width:353px;
  height:24px;
  font-size:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:24px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:1px;
  top:201px;
  width:288px;
  height:280px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:280px;
}
#u65 {
  position:absolute;
  left:2px;
  top:132px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:1px;
  top:201px;
  width:288px;
  height:40px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:40px;
}
#u67 {
  position:absolute;
  left:2px;
  top:12px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:15px;
  top:212px;
  width:123px;
  height:17px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:17px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:17px;
  top:253px;
  width:64px;
  height:17px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:17px;
  top:276px;
  width:256px;
  height:16px;
}
#u73 {
  position:absolute;
  left:16px;
  top:0px;
  width:238px;
  word-wrap:break-word;
}
#u72_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u74 {
  position:absolute;
  left:17px;
  top:295px;
  width:256px;
  height:16px;
}
#u75 {
  position:absolute;
  left:16px;
  top:0px;
  width:238px;
  word-wrap:break-word;
}
#u74_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u76 {
  position:absolute;
  left:17px;
  top:312px;
  width:256px;
  height:16px;
}
#u77 {
  position:absolute;
  left:16px;
  top:0px;
  width:238px;
  word-wrap:break-word;
}
#u76_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u78 {
  position:absolute;
  left:17px;
  top:356px;
  width:134px;
  height:17px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:17px;
  top:380px;
  width:256px;
  height:16px;
}
#u81 {
  position:absolute;
  left:16px;
  top:0px;
  width:238px;
  word-wrap:break-word;
}
#u80_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u82 {
  position:absolute;
  left:17px;
  top:399px;
  width:256px;
  height:16px;
}
#u83 {
  position:absolute;
  left:16px;
  top:0px;
  width:238px;
  word-wrap:break-word;
}
#u82_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u84 {
  position:absolute;
  left:0px;
  top:337px;
  width:289px;
  height:10px;
}
#u84_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_end {
  position:absolute;
  left:272px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_line {
  position:absolute;
  left:0px;
  top:5px;
  width:289px;
  height:1px;
}
#u85 {
  position:absolute;
  left:93px;
  top:447px;
  width:100px;
  height:25px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u86 {
  position:absolute;
  left:0px;
  top:429px;
  width:289px;
  height:10px;
}
#u86_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_end {
  position:absolute;
  left:272px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_line {
  position:absolute;
  left:0px;
  top:5px;
  width:289px;
  height:1px;
}
#u87 {
  position:absolute;
  left:250px;
  top:201px;
  width:39px;
  height:40px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u88 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:201px;
  width:39px;
  height:40px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u90 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:-10px;
  top:621px;
  width:1210px;
  height:140px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:140px;
}
#u93 {
  position:absolute;
  left:2px;
  top:62px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:143px;
  top:643px;
  width:105px;
  height:82px;
  color:#FFFFFF;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:82px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:26px;
  top:641px;
  width:92px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:309px;
  top:641px;
  width:56px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:355px;
  top:643px;
  width:244px;
  height:19px;
  color:#FFFFFF;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:19px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:647px;
  top:641px;
  width:47px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:715px;
  top:644px;
  width:127px;
  height:37px;
  color:#FFFFFF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:37px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:290px;
  top:631px;
  width:10px;
  height:120px;
}
#u106_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u106_end {
  position:absolute;
  left:-5px;
  top:103px;
  width:20px;
  height:18px;
}
#u106_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:120px;
}
#u107 {
  position:absolute;
  left:590px;
  top:631px;
  width:10px;
  height:120px;
}
#u107_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u107_end {
  position:absolute;
  left:-5px;
  top:103px;
  width:20px;
  height:18px;
}
#u107_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:120px;
}
#u108 {
  position:absolute;
  left:890px;
  top:631px;
  width:10px;
  height:120px;
}
#u108_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u108_end {
  position:absolute;
  left:-5px;
  top:103px;
  width:20px;
  height:18px;
}
#u108_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:120px;
}
#u109 {
  position:absolute;
  left:940px;
  top:644px;
  width:200px;
  height:38px;
  color:#FFFFFF;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:38px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:300px;
  top:251px;
  width:440px;
  height:110px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:110px;
}
#u112 {
  position:absolute;
  left:2px;
  top:47px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:760px;
  top:251px;
  width:440px;
  height:110px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:110px;
}
#u114 {
  position:absolute;
  left:2px;
  top:47px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:300px;
  top:431px;
  width:440px;
  height:110px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:110px;
}
#u116 {
  position:absolute;
  left:2px;
  top:47px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:300px;
  top:201px;
  width:440px;
  height:160px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u118 {
  position:absolute;
  left:760px;
  top:200px;
  width:440px;
  height:160px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u119 {
  position:absolute;
  left:300px;
  top:381px;
  width:440px;
  height:160px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
