﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1188px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:12px;
  top:16px;
  width:85px;
  height:19px;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:113px;
  top:16px;
  width:69px;
  height:19px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1100px;
  top:16px;
  width:83px;
  height:19px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:900px;
  top:70px;
  width:200px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:1100px;
  top:70px;
  width:100px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:0px;
  top:120px;
  width:1200px;
  height:50px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:12px;
  top:124px;
  width:731px;
  height:42px;
}
#u13_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:737px;
  height:48px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:47px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u16 {
  position:absolute;
  left:2px;
  top:13px;
  width:235px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:239px;
  top:0px;
  width:239px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u18 {
  position:absolute;
  left:2px;
  top:13px;
  width:235px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:478px;
  top:0px;
  width:253px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:42px;
}
#u20 {
  position:absolute;
  left:2px;
  top:13px;
  width:249px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:42px;
  width:239px;
  height:216px;
  visibility:hidden;
}
#u21_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:245px;
  height:222px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:221px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:36px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:72px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:108px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:144px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:180px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:239px;
  top:42px;
  width:239px;
  height:126px;
  visibility:hidden;
}
#u35_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:245px;
  height:132px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:131px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u38 {
  position:absolute;
  left:2px;
  top:5px;
  width:235px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:42px;
  width:239px;
  height:42px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u40 {
  position:absolute;
  left:2px;
  top:13px;
  width:235px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:84px;
  width:239px;
  height:42px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u42 {
  position:absolute;
  left:2px;
  top:5px;
  width:235px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:10px;
  top:56px;
  width:190px;
  height:56px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:56px;
}
#u44 {
  position:absolute;
  left:2px;
  top:20px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:226px;
  width:1198px;
  height:224px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:224px;
}
#u46 {
  position:absolute;
  left:2px;
  top:104px;
  width:1194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:180px;
  width:1198px;
  height:47px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:47px;
}
#u48 {
  position:absolute;
  left:2px;
  top:16px;
  width:1194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:15px;
  top:192px;
  width:82px;
  height:22px;
  font-size:18px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:15px;
  top:237px;
  width:1170px;
  height:105px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:27px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:27px;
}
#u53 {
  position:absolute;
  left:2px;
  top:6px;
  width:390px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:394px;
  top:0px;
  width:160px;
  height:27px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:27px;
}
#u55 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:554px;
  top:0px;
  width:164px;
  height:27px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:27px;
}
#u57 {
  position:absolute;
  left:2px;
  top:6px;
  width:160px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:718px;
  top:0px;
  width:193px;
  height:27px;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:27px;
}
#u59 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:911px;
  top:0px;
  width:254px;
  height:27px;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:27px;
}
#u61 {
  position:absolute;
  left:2px;
  top:6px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:0px;
  top:27px;
  width:394px;
  height:73px;
  font-size:28px;
  color:#0066FF;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:73px;
}
#u63 {
  position:absolute;
  left:2px;
  top:28px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:394px;
  top:27px;
  width:160px;
  height:73px;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:73px;
}
#u65 {
  position:absolute;
  left:2px;
  top:28px;
  width:156px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:554px;
  top:27px;
  width:164px;
  height:73px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:73px;
}
#u67 {
  position:absolute;
  left:2px;
  top:28px;
  width:160px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:718px;
  top:27px;
  width:193px;
  height:73px;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:73px;
}
#u69 {
  position:absolute;
  left:2px;
  top:28px;
  width:189px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:911px;
  top:27px;
  width:254px;
  height:73px;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:73px;
}
#u71 {
  position:absolute;
  left:2px;
  top:28px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:22px;
  top:273px;
  width:54px;
  height:54px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u73 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:114px;
  top:284px;
  width:96px;
  height:24px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:1010px;
  top:288px;
  width:100px;
  height:25px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u77 {
  position:absolute;
  left:1056px;
  top:358px;
  width:124px;
  height:22px;
  font-size:18px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:15px;
  top:410px;
  width:140px;
  height:25px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u80 {
  position:absolute;
  left:180px;
  top:410px;
  width:140px;
  height:25px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u82 {
  position:absolute;
  left:-12px;
  top:460px;
  width:1210px;
  height:140px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:140px;
}
#u83 {
  position:absolute;
  left:2px;
  top:62px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:141px;
  top:482px;
  width:105px;
  height:82px;
  color:#FFFFFF;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:82px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:24px;
  top:480px;
  width:92px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:307px;
  top:480px;
  width:56px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:353px;
  top:482px;
  width:244px;
  height:19px;
  color:#FFFFFF;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:19px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:645px;
  top:480px;
  width:47px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:713px;
  top:483px;
  width:127px;
  height:37px;
  color:#FFFFFF;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:37px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:288px;
  top:470px;
  width:10px;
  height:120px;
}
#u96_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u96_end {
  position:absolute;
  left:-5px;
  top:103px;
  width:20px;
  height:18px;
}
#u96_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:120px;
}
#u97 {
  position:absolute;
  left:588px;
  top:470px;
  width:10px;
  height:120px;
}
#u97_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u97_end {
  position:absolute;
  left:-5px;
  top:103px;
  width:20px;
  height:18px;
}
#u97_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:120px;
}
#u98 {
  position:absolute;
  left:888px;
  top:470px;
  width:10px;
  height:120px;
}
#u98_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u98_end {
  position:absolute;
  left:-5px;
  top:103px;
  width:20px;
  height:18px;
}
#u98_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:120px;
}
#u99 {
  position:absolute;
  left:938px;
  top:483px;
  width:200px;
  height:38px;
  color:#FFFFFF;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:38px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:625px;
  top:285px;
  width:55px;
  height:32px;
}
#u101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
