﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1192px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:12px;
  top:16px;
  width:85px;
  height:19px;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:113px;
  top:16px;
  width:69px;
  height:19px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1100px;
  top:16px;
  width:83px;
  height:19px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:900px;
  top:70px;
  width:200px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:1100px;
  top:70px;
  width:100px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:0px;
  top:120px;
  width:1200px;
  height:50px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:12px;
  top:124px;
  width:731px;
  height:42px;
}
#u13_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:737px;
  height:48px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:47px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u16 {
  position:absolute;
  left:2px;
  top:13px;
  width:235px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:239px;
  top:0px;
  width:239px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u18 {
  position:absolute;
  left:2px;
  top:13px;
  width:235px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:478px;
  top:0px;
  width:253px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:42px;
}
#u20 {
  position:absolute;
  left:2px;
  top:13px;
  width:249px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:42px;
  width:239px;
  height:216px;
  visibility:hidden;
}
#u21_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:245px;
  height:222px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:221px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:36px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:72px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:108px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:144px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:180px;
  width:239px;
  height:36px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:239px;
  top:42px;
  width:239px;
  height:126px;
  visibility:hidden;
}
#u35_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:245px;
  height:132px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:131px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u38 {
  position:absolute;
  left:2px;
  top:5px;
  width:235px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:42px;
  width:239px;
  height:42px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u40 {
  position:absolute;
  left:2px;
  top:13px;
  width:235px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:84px;
  width:239px;
  height:42px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
}
#u42 {
  position:absolute;
  left:2px;
  top:5px;
  width:235px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:10px;
  top:56px;
  width:190px;
  height:56px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:56px;
}
#u44 {
  position:absolute;
  left:2px;
  top:20px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:-9px;
  top:830px;
  width:1210px;
  height:140px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:140px;
}
#u47 {
  position:absolute;
  left:2px;
  top:62px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:144px;
  top:852px;
  width:105px;
  height:82px;
  color:#FFFFFF;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:82px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:27px;
  top:850px;
  width:92px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:310px;
  top:850px;
  width:56px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:356px;
  top:852px;
  width:244px;
  height:19px;
  color:#FFFFFF;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:648px;
  top:850px;
  width:47px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:716px;
  top:853px;
  width:127px;
  height:37px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:37px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:291px;
  top:840px;
  width:10px;
  height:120px;
}
#u60_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u60_end {
  position:absolute;
  left:-5px;
  top:103px;
  width:20px;
  height:18px;
}
#u60_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:120px;
}
#u61 {
  position:absolute;
  left:591px;
  top:840px;
  width:10px;
  height:120px;
}
#u61_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u61_end {
  position:absolute;
  left:-5px;
  top:103px;
  width:20px;
  height:18px;
}
#u61_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:120px;
}
#u62 {
  position:absolute;
  left:891px;
  top:840px;
  width:10px;
  height:120px;
}
#u62_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u62_end {
  position:absolute;
  left:-5px;
  top:103px;
  width:20px;
  height:18px;
}
#u62_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:120px;
}
#u63 {
  position:absolute;
  left:941px;
  top:853px;
  width:200px;
  height:38px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:38px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:191px;
  width:1201px;
  height:50px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:50px;
}
#u66 {
  position:absolute;
  left:2px;
  top:17px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:321px;
  top:204px;
  width:166px;
  height:24px;
  font-size:20px;
  color:#0066FF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:24px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:497px;
  top:204px;
  width:153px;
  height:24px;
  font-size:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:24px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:0px;
  top:249px;
  width:1201px;
  height:557px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:557px;
}
#u72 {
  position:absolute;
  left:2px;
  top:270px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:24px;
  top:321px;
  width:269px;
  height:210px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:210px;
}
#u74 {
  position:absolute;
  left:2px;
  top:97px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:249px;
  width:1201px;
  height:47px;
  font-size:20px;
  color:#0066FF;
  text-align:left;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:47px;
}
#u76 {
  position:absolute;
  left:2px;
  top:16px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:15px;
  top:257px;
  width:298px;
  height:36px;
  font-size:28px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:36px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:311px;
  top:319px;
  width:879px;
  height:470px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  height:470px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:24px;
  top:544px;
  width:179px;
  height:28px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:24px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:28px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:119px;
  top:583px;
  width:174px;
  height:40px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u84 {
  position:absolute;
  left:52px;
  top:583px;
  width:29px;
  height:40px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:40px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u85 {
  position:absolute;
  left:203px;
  top:550px;
  width:90px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:81px;
  top:583px;
  width:29px;
  height:40px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:40px;
}
#u88 {
  position:absolute;
  left:2px;
  top:12px;
  width:25px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:24px;
  top:583px;
  width:29px;
  height:40px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:40px;
}
#u90 {
  position:absolute;
  left:2px;
  top:12px;
  width:25px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:24px;
  top:321px;
  width:269px;
  height:210px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:210px;
}
#u92 {
  position:absolute;
  left:2px;
  top:97px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:24px;
  top:204px;
  width:76px;
  height:24px;
  font-size:20px;
  color:#0066FF;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:110px;
  top:204px;
  width:201px;
  height:24px;
  font-size:20px;
  color:#0066FF;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
