<div class="address vcard">
  <div class="fn"><%= address.firstname %></div>

  <% unless address.phone.blank? %>
      <div class="tel">
        <span class="type"><%= Spree.t(:phone) %></span>
        <%= address.phone %>
      </div>
  <% end %>
  <% unless address.alternative_phone.blank? %>
      <div class="alternative-phone tel">
        <span class="type"><%= Spree.t(:alternative_phone) %></span>
        <%= address.alternative_phone %>
      </div>
  <% end %>
</div>
