
<% address_id = address_type.chars.first %>

<div class="inner" data-hook=<%="#{address_type}_inner" %>>
  <p class="form-group" id=<%="#{address_id}firstname" %>>
    <%= form.label :firstname do %>
        <%= Spree.t(:first_name) %><abbr class="required" title="required">*</abbr>
    <% end %>
    <%= form.text_field :firstname, :class => 'form-control required' %>
  </p>
  <%= form.hidden_field :lastname, :class => 'form-control required',:value=>'none' %>
  <%= form.hidden_field :address1, :class => 'form-control  ' ,:value=>'none'%>
  <%= form.hidden_field :city, :class => 'form-control ',:value=>'none' %>
  <%= form.hidden_field :country_id, :class => 'form-control required',:value=>438 %>
  <%= form.hidden_field :zipcode, :class => "form-control #{'required' if address.require_zipcode?}",:value=>620000 %>
  <%= form.hidden_field :state_id,:class=>'form-control',:value=>10293 %>
  <%= form.hidden_field :state_name,:class=>'form-control',:value=>'Sverdlovskaya oblast' %>



  <p class="form-group" id=<%="#{address_id}phone" %>>
    <%= form.label :phone do %>
        <%= Spree.t(:phone) %><% if address.require_phone? %><abbr class="required" title="required">*</abbr><% end %>
    <% end %>
    <%= form.phone_field :phone, :class => "form-control #{'required' if address.require_phone?}" %>
  </p>

</div>
